* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 739px;
}

.cabecera {
    background-color: thistle;
    width: 1600px;
    height: 50px;
    color: black;
}

.menu {
    list-style: none;
    display: inline-block;
    position: relative;
    left: 87%;
    bottom: 17px;
    color: blue;
}
.side-bar {
    background-color: salmon;
    height: 739px;
    width: 320px;
}
.box {
    background-color: pink;
    width: 300px;
    height: 150px;
    position: relative;
    padding: 0px;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.resto {
    background-color: black;
    color: white;
    position: relative;
    left: 320px;
    bottom: 739px;
    height: 739px;
    width: 1280px;
}