* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent {
    border: 2px black ;
    display: inline-block;
}
.box {
    display: inline-block;
    background-color: red;
    width: 500px;
    height: 300px;
}
#one {
    background-color: blue;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    position: relative;
    left: 360px;
    top: 60px;

    }
#two {
    background-color: gray;
    border-radius: 35px;
    position: relative;
    top: 100px
}