* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}


.title {
    font-size: 18px;
    font-family: monospace;
}
.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 150px;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color:gray;
    padding: 5px;
    border-radius: 1500px;
    text-decoration: none;
}