.block-element {
    background-color: green;
    margin: 10px;
    padding: 20px;
}

.navi {
    background-color: red;
    padding: 20px;
    list-style: none;
    text-align: center;
}

.navi li {
    display: inline-block;
    font-size: 520px;
    margin: 10px ;
    padding-left: 20px;
    padding-right: 20px;
}

